.clear-completed {
    user-select: none;
	position: relative;
	z-index: 5;

	&,
	&:hover {
		color: inherit;
		float: right;
		text-decoration: none;
		cursor: pointer;
	}

	&:hover {
		text-decoration: underline;
	}
}