.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;

    &__item {
        display: inline;

        @import '../atoms/btn/filters.scss';
    }
}